/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2016, 5:13:33 AM
    Author     : emily01px2015
*/
body{
    background-image:url("http://eskipaper.com/images/world-map-wallpaper-8.jpg");
    background-size:cover;
    font-family:Verdana;
    font-size:20px;
    color:white;
}
h1{
    margin-bottom: 3px;
    text-align:center;
}
p {
    text-align: center;
    margin-left: 340px;
    margin-top: 3px;
    width: 600px;
}
h3 {
    margin-top: 50px;
    margin-bottom: 3px;
    text-align: center;
}
input, textarea {
    border: 4px solid rgba(0,0,0,0.1);
    border-radius: 6px;
    padding: 8px 10px;
    resize: none;
    outline: 0;
    border-color: #c9cece;
    box-align: center;
    margin: 5px 415px;
}
textarea {
    width: 410px;
}
input[type=text], select {
    width: 31%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 6px;
    
}
input[type=submit] {
    background-color: #dfe4e4;
    text-decoration: none;
    width: 10%;
    cursor: pointer;
    margin-left: 570px;
    margin-top: 2px;
}
input[type=submit]:hover {
    background-color: #ced3d3;
}
