/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2016, 5:54:37 PM
    Author     : emily01px2015
*/
body {
    background-size: cover;
    background-repeat: no-repeat;
    font: verdana;
    color: white;
}
div{
	width:450px;
	text-align:center;
}
h1 {
　　position: relative;
    text-align:center;
    font-size: 50px;
    margin-right: 0px;
}
h2 {
	position: relative;
    text-align:center;
    font-size: 40px;
    margin-right: 0px;
}
p {
	position: relative;
    top: 60px;
    text-align: center;
    width: 450px;
    left: 30%;
    font-size: 20px;
    visibility: hidden;
    color: #fcebd5;
}
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}
.button {
	position: relative;
    top: 150px;
    left: 460px;
    border: none;
    color: black;
    font-size: 20px;
    text-align: center;
    height: 45px;
    padding: 12px 40px;
    border-radius: 50px;
    background-color: #c4fbd5;
    cursor: pointer;
    text-decoration: none;
}
.button:active {
    transform: translateY(4px);
}
.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 4s;	
	-webkit-animation-duration: 4s;
        
        animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.1;		
	}
	70% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.1;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.1;		
	}
	70% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.1;	
	}
}
.about{
	position: relative;
	top: 200px;
	left: 290px;
	color: lightcyan;
}
