/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2016, 1:49:41 AM
    Author     : emily01px2015
*/
body {
    background-image: url("http://s1.picswalls.com/wallpapers/2014/08/08/beautiful-malaysia-wallpaper_020551193_166.jpg");
    background-attachment: scroll;
}
h1 {
    font-family: Impact, Charcoal, sans-serif;
    color:#FFFFFF;
    letter-spacing: 1px;
    margin-top:50px;
    text-align: center;
    color: white;
}
div {
    overflow: auto;
}
img {
    margin-top: 13px;
    float: left;
    height: 300px;
}
p {
    float: left;
    background-color:rgba(250,250,250,0.7);
    margin-left: 10px;
    padding:130px 190px 130px 190px;
    width: 500px;
}
.button {
    font:Verdana;
    border: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    border: 2px solid #e7e7e7;
    background-color:rgba(0,0,0,0.5);
    position: relative;
    top: 500px;
}
.button:hover {
    background-color: rgba(128,128,128, 0.5);
}
