/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2016, 1:49:41 AM
    Author     : emily01px2015
*/
h1 {
    font-family: Impact, Charcoal, sans-serif;
    color:#FFFFFF;
    letter-spacing: 1px;
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
    color: white;
}
.division {
    height: 300px;
    float:left;
    margin-top: 100px;
}
img {
    height: 300px;
}
p {
    background-color:rgba(250,250,250,0.7);
    margin-top:0px;
    padding:0px 150px 0px 150px;
}
.button {
    font:Verdana;
    border: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    border: 2px solid #e7e7e7;
    background-color:rgba(0,0,0,0.5)
}
.button:hover {
    background-color: rgba(128,128,128, 0.5);
}
